@inherits _BaseLocalizedComponent
<div class="bottom-nav">
    <nav>
        <ul>
            <li>
                <NavLink href="@PageRoutes.Home"><span title="@_l("navbar.list.home")" class="icon-home"></span></NavLink>
            </li>
            <li>
                <NavLink href="@PageRoutes.Projects"><span title="@_l("navbar.list.projects")"  class="icon-hammer"></span></NavLink>
            </li>
            <li>
                <NavLink href="@PageRoutes.E_CV"><span title="@_l("navbar.list.e_cv")"  class="icon-profile"></span></NavLink>
            </li>

            <li>
                <NavLink href="@PageRoutes.Me"><span title="@_l("navbar.list.me")"  class="icon-hipster"></span></NavLink>
            </li>
            <li>
                <NavLink href="@PageRoutes.ContactMe"><span title="@_l("navbar.list.contactme")"  class="icon-bubbles4"></span></NavLink>
            </li>
        </ul>
    </nav>
</div>
  