@inherits _BaseLocalizedComponent

<header>
    <span class="nav-brand">
        <a href="/">
            @_l("navbar.brand")
        </a>
    </span>
    <nav>
        <ul>
            <li>
                <NavLink href="@PageRoutes.Home">@_l("navbar.list.home")</NavLink>
            </li>
            <li>
                <NavLink href="@PageRoutes.Projects">@_l("navbar.list.projects")</NavLink>
            </li>
            <li>
                <NavLink href="@PageRoutes.E_CV">@_l("navbar.list.e_cv")</NavLink>
            </li>

            <li>
                <NavLink href="@PageRoutes.Me">@_l("navbar.list.me")</NavLink>
            </li>
            <li>
                <NavLink href="@PageRoutes.ContactMe">@_l("navbar.list.contactme")</NavLink>
            </li>
        </ul>
    </nav>
</header>