@inherits _BaseLocalizedComponent
@if (Project is not null)
{
    <div class="b-full m-3 w-100-m w-50 border-round-1 my-3-m">
        @if (IsSelected)
        {
            <div class="m-3">
                <span>@_l("txt.reading")    </span>
            </div>
        }
        <p>
            @Project.Title <span>@Project.StartYear</span>
        </p>
        <hr class="m-2" />
        <p>
            @Project.ShortDescription
        </p>

        <p>
            @if (Project.Tags is not null)
                foreach (var tag in Project.Tags)
                {
                    @string.Format("{0} ", tag)
                }
        </p>
        @if (!IsSelected)
        {
            <div class="m-2 d-flex justify-left">
                <a href="@string.Format("{0}/{1}",PageRoutes.Projects,Project.Title)" title=@_l("txt.select")>@_l("txt.select")</a>
            </div>
        }
    </div>
}
else
{
    <NotFoundView ErrorKey="projects.notfound.warnning" />
}


@code {
    [Parameter] public ProjectModel Project { get; set; }
    [Parameter] public bool IsSelected { get; set; }

}

